
a {
    text-decoration: none;
    color: inherit;
}

header {
    max-width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    box-shadow: 0 0px 15px 0px  #00000033;
}
#logo {
    width: 22rem;
    height: 2rem;
    font-weight: 800; 
    font-size: 28px;
    cursor: default;
}
#nav-bar {
    width: 30rem;
    height: 3rem;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align: center;
}
#nav-bar ul{
    display: flex;
    font-weight: 600;
    font-size: 16px
}

#nav-bar ul li {
    margin: 1rem;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6rem;
}

.container {
    width: 70%;
    height: 650px;
    background-color: #040c25;
    border-radius: 0.4rem;
    margin:0.5rem;
}
.title {
    width: 100%;
    height: 4rem;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #040e2c;
    color:  #03a7f6 ;
}